/bower_components
/downloaded*
/configProduction.php
/docker/service/app/dist/build*
!/environment/prod
/environment/prod/*.env
/environment/default/wordpress.secret.env
!/environment/dev/db/data
/environment/dev/db/data/*
!/environment/dev/db/data/.gitkeep
!/environment/dev/db/init
/environment/dev/db/init/*
!/environment/dev/db/init/.gitkeep
!/environment/dev/db/init/init.sh
/node_modules
/public/wordpress
/public/wp-content/languages
/public/wp-content/plugins
/public/wp-content/themes/*
!/public/wp-content/themes/allihoppa
/public/wp-content/themes/allihoppa/js/jquery.easing.min.js
/public/wp-content/themes/allihoppa/js/jquery.jcarousel.min.js
/public/wp-content/themes/allihoppa/js/jquery.min.js
/public/wp-content/themes/allihoppa/js/jquery.vgrid.min.js
/public/wp-content/uploads
/release
/vendor/
