/bower_components
/downloaded
/docker/mysql/*.sql
!/environment/prod
/environment/prod/*
!/environment/prod/.gitkeep
!/mysql
/mysql/*
!/mysql/.gitkeep
/node_modules
/public/wordpress
/public/wp-content/languages
/public/wp-content/plugins
/public/wp-content/themes/*
!/public/wp-content/themes/allihoppa
/public/wp-content/themes/allihoppa/js/jquery.easing.min.js
/public/wp-content/themes/allihoppa/js/jquery.jcarousel.min.js
/public/wp-content/themes/allihoppa/js/jquery.min.js
/public/wp-content/themes/allihoppa/js/jquery.vgrid.min.js
/public/wp-content/uploads
/release
/vendor/
