<IfModule mod_rewrite.c>
RewriteEngine On


# Stop annoying Iemo from hotlinking
RewriteCond %{HTTP_USER_AGENT} "iemo" [NC]
RewriteRule ^.*$ - [F,L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
